figure {
  margin-block: 0;
  margin-inline: 0;
}

/* main {
  display: grid;
  width: 100%;
  gap: 20px;
}

@media (min-width: 500px) {
  main {
    grid-template-columns: 1fr 2fr;
  }
}

#cardSlots {
  display: grid;
  width: 100%;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
} */
